extends layout
block chatStyle
  link(rel='stylesheet', href='/stylesheets/chat/14.css')
block chatContent
  .container
    #parent
      form#child(action='/chat/15' method='GET')
        p
          | Well, based on information, I recommend you to take one of these coverages.
          | (You can choose in details in next step.)
        .form-row.ans-1
          .form-group.col-3
            .option-wrapper
              img(src='/images/chatbot/1.jpg', alt='')
              .icon-option-wrapper
                h4 SOS Coverage
              div
                .circle
                  h2#sosint $5
                  h5#sosdec .25
                  h6 PER YEAR
              button(type='submit').select Choose
          .form-group.col-3
            .option-wrapper
              img(src='/images/chatbot/2.jpg', alt='')
              .icon-option-wrapper
                h4 Basic Coverage
              div
                .circle
                  h2#basicint $5
                  h5#basicdec .25
                  h6 PER YEAR
              button.select Choose
          .form-group.col-3
            .option-wrapper
              img(src='/images/chatbot/3.jpg', alt='')
              .icon-option-wrapper
                h4 Golden Coverage
              div
                .circle
                  h2#goldint $5
                  h5#golddec .25
                  h6 PER YEAR
              button.select Choose
          .form-group.col-3
            .option-wrapper
              img(src='/images/chatbot/4.jpg', alt='')
              .icon-option-wrapper
                h4 Platinum Coverage
              div
                .circle
                  h2#platint $5
                  h5#platdec .25
                  h6 PER YEAR
              button.select Choose

        button.btn(type='submit') More Plans

block chatScript
  script.
    $.ajax({
      url: '/chat/getPlanInfo',
      success: function(res) {
        if (res.sos == "") {
          res.sos = "0.00";
        }
        if (res.basic == "") {
          res.basic = "0.00";
        }
        if (res.golden == "") {
          res.golden = "0.00";
        }
        if (res.platinum == "") {
          res.platinum = "0.00";
        }

        console.log(res);

        var sos_val = res.sos.split('.');
        $('#sosint').html(sos_val[0]);
        $('#sosdec').html('.' + sos_val[1]);

        var basic_val = res.basic.split('.');
        $('#basicint').html(basic_val[0]);
        $('#basicdec').html('.' + basic_val[1]);

        var gold_val = res.golden.split('.');
        $('#goldint').html(gold_val[0]);
        $('#golddec').html('.' + gold_val[1]);

        var plat_val = res.platinum.split('.');
        $('#platint').html(plat_val[0]);
        $('#platdec').html('.' + plat_val[1]);

        //- $('.circle h2').each(function() {
        //-   var inner_html = $(this).html();
        //-   if (inner_html.length == 2) {
        //-     $(this).css('font-size', '20px');
        //-   }
        //- })
      }
    })