extends layout
block chatStyle
  link(rel='stylesheet', href='/stylesheets/chat/17.css')
block chatContent
  .container
    #parent
      p Excellent. To finalize your quotation, you have to buy subscription. You can buy here.
      a(href='/payment') www.vango.com/payment

