extends layout
block chatStyle
  link(rel='stylesheet', href='/stylesheets/chat/2.css')
block chatContent
  .container
    #parent
      form#child(action='/chat/3' method='POST')
        p
          | Hi, #{name.firstName}. Nice to meet you.
          br
          | Are you single or get married?
        .form-row.ans-1
          .form-group.col-md-5.offset-md-1
            .option-wrapper.wrapper-1
              img(src='/images/chatbot/single.png', alt='')
              .icon-option-wrapper
                h5 Single
                i
          .form-group.col-md-5
            .option-wrapper.wrapper-2
              img(src='/images/chatbot/couple.png', alt='')
              .icon-option-wrapper
                h5 Couple
                i
        input.mariteral(type='text' value='', style='display:none', name='mariteral', required)
        button.btn(disabled='') Next
  
block chatScript
  script.
    var mariteral = '#{mariteral}';
    if(mariteral == 'Single'){
      $('.wrapper-1').addClass('on');
      $('.wrapper-2').removeClass('on');
      $('.btn').removeAttr('disabled');
      $('.mariteral').val('Single');
    }else if(mariteral == 'Couple'){
      $('.wrapper-2').addClass('on');
      $('.wrapper-1').removeClass('on');
      $('.btn').removeAttr('disabled');
      $('.mariteral').val('Couple');
    }

    $('.wrapper-1').on('click', function(){
      $(this).addClass('on');
      $('.wrapper-2').removeClass('on');
      $('.btn').removeAttr('disabled');
      $('.mariteral').val('Single');
    })

    $('.wrapper-2').on('click', function(){
      $(this).addClass('on');
      $('.wrapper-1').removeClass('on');
      $('.btn').removeAttr('disabled');
      $('.mariteral').val('Couple');
    })