body {
  background: #fff;
  color: #4A4A4A;
  font: 400 1.6rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;

}
h1 {
  font-family: "Merriweather", Georgia, serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 10px;
  color: #4A4A4A;
}
h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 20px;
  line-height: 28px;
}

.claims-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}
.claims-section > .inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.claims-top-fold {
  min-height: 770px;
  margin-top: 70px;
}
.claims-top-fold > .inner {
  max-width: 800px;
  padding: 60px 0 20px;
}
.claims-section > .inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.claims-top-fold > .inner img.main-image-desktop {
  /*width: 1324px;*/
  width: 100%;
  position: absolute;
  bottom: 0px;
  /*right: calc(50% - 661.5px);*/
}
.mobile-image-desktop {
  display: none;
  width: 100%;
}
.claims-stats {
  margin: 50px 0px;
}
.claims-stats > .inner {
  max-width: 1100px;
  padding: 20px 20px 0px;
}
.claims-stats > .inner .stats {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.claims-stats > .inner .stats .stat {
  width: 315px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}
.claims-stats > .inner .stats .stat span {
  font: 300 100px/120px "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #3f64cc;
}
.claims-stats > .inner .stats .stat.one {
  order: 1;
}
.claims-stats > .inner .stats .stat.two {
  width: 311px;
  order: 2;
}
.claims-stats > .inner .stats .stat.three {
  order: 3;
}

.claims-hiw > .inner {
  max-width: 1100px;
  padding: 0px 0px 100px;
}
.claims-hiw > .inner .claims-hiw-steps {
  display: flex;
  flex-flow: row;
  margin-top: 80px;
  width: 100%;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step {
  width: 255px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step p {
    text-align: center;
    margin-top: 16px;
    width: 100%;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.tap-claim-button {
  width: 200px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.tap-claim-button:after {
  content: '';
  position: absolute;
  top: 60px;
  left: 193px;
  background: transparent url(/images/customer/claims/horizontal-arrow.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 18px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.chat-what-happened {
  width: 157px;
  margin-left: 41px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.chat-what-happened:after {
  content: '';
  position: absolute;
  top: 60px;
  left: 171px;
  background: transparent url(/images/customer/claims/horizontal-arrow.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 18px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.ai-algorithms {
  width: 240px;
  margin-left: 22px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.ai-algorithms:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 210px;
  background: transparent url(/images/customer/claims/forked-arrow.png) no-repeat;
  background-size: contain;
  width: 110px;
  height: 136px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.tap-claim-button img,
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.chat-what-happened img,
.claims-hiw>.inner .claims-hiw-steps .claims-hiw-step.ai-algorithms img {
  max-width: auto;
  max-height: 120px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human {
  width: 326px;
  margin-left: 95px;
  margin-top: -7px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step .instant,
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step .human {
  width: 326px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step .instant img,
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step .human img {
  max-width: 52px;
  height: auto;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step p {
  text-align: center;
  margin-top: 16px;
  width: 100%;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human p {
  text-align: left;
  margin-left: 26px;
  margin-top: -7px;
}
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human .instant+.human,
.claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human .human+.human {
  margin-top: 12px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 17px;
  }
  .claims-top-fold {
    min-height: 0;
  }
  .claims-top-fold > .inner img.main-image-desktop {
    display: none;
  }
  .mobile-image-desktop {
    display: block;
  }
  .claims-stats > .inner .stats .stat {
    width: 50%
  }
  .claims-stats > .inner .stats .stat.two {
    width: 50%;
  }
  .claims-stats > .inner .stats .stat span {
    font-size: 50px;
  }
  .claims-stats > .inner .stats .stat p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .claims-hiw > .inner .claims-hiw-steps {
    flex-flow: column;
    margin-top: 50px;
    align-items: center;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.tap-claim-button {
    height: 219px;
    width: 335px;
    margin-bottom: 67px;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.chat-what-happened {
    width: 335px;
    margin-left: 0px;
    margin-bottom: 67px;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.ai-algorithms {
    width: 335px;
    margin-left: 0px;
    margin-bottom: 85px;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.tap-claim-button:after {
    content: '';
    position: absolute;
    top: 240px;
    left: calc(50% - 7.5px);
    background: transparent url(/images/customer/claims/vertical-arrow.png) no-repeat;
    background-size: contain;
    width: 17px;
    height: 29px;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.chat-what-happened:after {
    content: '';
    position: absolute;
    top: 209px;
    left: calc(50% - 7.5px);
    background: transparent url(/images/customer/claims/vertical-arrow.png) no-repeat;
    background-size: contain;
    width: 17px;
    height: 29px;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.ai-algorithms:after {
    content: '';
    position: absolute;
    top: 209px;
    left: calc(50% - 30px);
    background: transparent url(/images/customer/claims/vertical-forked-arrow.png) no-repeat;
    background-size: contain;
    width: 185px;
    height: 57px;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human {
    width: 335px;
    margin-left: 0px;
    margin-top: 0px;
    flex-flow: row;
    align-items: flex-start;
    margin-top: 14px;
  }

  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step .instant,
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step .human {
    width: 160px;
    flex-flow: column;
    align-items: center;
  }
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human .instant+.human,
  .claims-hiw > .inner .claims-hiw-steps .claims-hiw-step.instant-or-human .human+.human {
    margin-top: 0px;
    margin-left: 10px;
  }
}
