
.navbar{
  padding: 35px 20px 25px;
  background: white;
}
.navbar-header .icon-bar{
  background-color:#4A4A4A;
}
.navbar-header .navbar-toggle{
  float: left;
}
.navbar ul li a{  
  background-color: transparent!important;  
  color: #b1b1b1;
  font-size: 120%;
}
.navbar ul li.active a{  
  color:#4A4A4A;
}
.navbar ul li a:hover{
  text-decoration: underline;
}
.navbar-right{
  margin-top:10px;
}
.navbar-right li a{
  padding: 10px 5px;
}
.logo{
  text-align:center; 
  height: 0px;
  position: absolute;
  width: 100%;
  top: 0px;
}
.logo img{
  transition: .1s;
  margin-top: 70px;
}
.top .logo img{  
  margin-top: 40px;
  transform: scale(1, 1);  
}
.top.navbar{
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.navbar .btn-consult{
  text-align: center;
  width: 230px;
  /*background-color: #333399;*/
  background: linear-gradient(to bottom, #376fd7 , #133890, #01135c);
  font: 400 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.navbar .btn-consult a{  
  color:white;
  font-size: 14px;
}

.footer{
  position: relative;
  z-index: 1;
  background: #313131;
  padding: 40px;
  display: block;
}
.footer ul{
  padding:0px;
}
.footer .social{
  float: right;
  text-align: center;
}
.footer .social p{
  padding-top: 10px;
  color: #B7B7B7;
}
.footer .social-links-round{  
  list-style: none;
  list-style-image: none;
}
.footer .social-links-round li{
  display: inline-block;
  padding-right:10px;
}

.footer .footer-menu li{
  padding-right: 10px;
  display: inline-block;
}
.footer .footer-menu li a{
  color: #fff;
  text-decoration: none;
}
.footer .legal{
  padding-top: 10px;
  color: #B7B7B7;
}

/*Customize Nabar collapse*/
@media (max-width: 1300px) {
  .navbar-right {
    display: none;
  }
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
