body {
  background: #fff;
  color: #4A4A4A;
  font: 400 1.6rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;

}

.faq-menu{
  margin-top:110px;
}
.faq-menu.top{
  margin-top: 70px;
}
.faq-menu.fix{
  top: -127px;
  position: fixed;
  width:100%;
}
.faq-menu ul {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  list-style-image: none;
  padding-left:0px;
}
.faq-menu ul li {
  width: 20%;
  height: 210px;
  border: 1px #DADADA solid;

}
.faq-menu ul li a:hover {
  border-color: #c1c1ff;
}
.faq-menu ul li a:active, .faq-menu ul li a.sel {
  border-color: #333399;
}
.faq-menu ul li a {
  position: relative;
  padding: 13rem 4rem 0 4rem;
  height: 100%;
  color: #4A4A4A;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px transparent solid;
  transition: border-color 0.3s;
}

.faq-menu ul li a::before{
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  top: 1.8rem;
  width: 160px;
  height: 150px;
  margin: auto auto;
  transform: scale(0.5);
}
.icn-service::before{
  background: transparent url('/images/customer/faq1.png') no-repeat 0 0;
}
.icn-policy::before{
  background: transparent url('/images/customer/faq2.png') no-repeat 0 0;
}
.icn-claims::before{
  background: transparent url('/images/customer/faq3.png') no-repeat 0 0;
}
.icn-general::before{
  background: transparent url('/images/customer/faq4.png') no-repeat 0 0;
}
.icn-coverage::before{
  background: transparent url('/images/customer/faq5.png') no-repeat 0 0;
}
.icn-community::before{
  background: transparent url('/images/customer/faq6.png') no-repeat 0 0;
  background-position: 0px -50px;
}


.faq-content h2{
  font: 400 4rem/1.3 "Merriweather", Georgia, serif;
  color: #4A4A4A;
  padding-bottom: 4.5rem;
  text-transform: capitalize;
}
.faq-content p {
  font-size: 2.2rem;
  line-height: 3rem;
  padding-bottom: 4rem;
}
