body {
  background: #fff;
  color: #4A4A4A;
  font: 400 1.6rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;

}

.faq-menu{
  margin-top:110px;
}
.faq-menu.top{
  margin-top: 105px;
}
.faq-menu.fix{
  top: -127px;
  position: fixed;
  width:100%;
}
.faq-menu ul {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  list-style-image: none;
  padding-left:0px;
}
.faq-menu ul li {
  width: 20%;
  height: 210px;
  border: 1px #DADADA solid;

}
.faq-menu ul li a:hover {
  border-color: #c1c1ff;
}
.faq-menu ul li a:active, .faq-menu ul li a.sel {
  border-color: #333399;
}
.faq-menu ul li a {
  position: relative;
  padding: 13rem 4rem 0 4rem;
  height: 100%;
  color: #4A4A4A;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px transparent solid;
  transition: border-color 0.3s;
  cursor: pointer;
}

.faq-menu ul li a::before{
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  top: 1.8rem;
  width: 160px;
  height: 150px;
  margin: auto auto;
  transform: scale(0.5);
}
.icn-service::before{
  background: transparent url('/images/customer/faq1.png') no-repeat 0 0;
}
.icn-policy::before{
  background: transparent url('/images/customer/faq2.png') no-repeat 0 0;
}
.icn-claims::before{
  background: transparent url('/images/customer/faq3.png') no-repeat 0 0;
}
.icn-general::before{
  background: transparent url('/images/customer/faq4.png') no-repeat 0 0;
}
.icn-coverage::before{
  background: transparent url('/images/customer/faq5.png') no-repeat 0 0;
}
.icn-community::before{
  background: transparent url('/images/customer/faq6.png') no-repeat 0 0;
  background-position: 0px -50px;
}

.faq-content {
  padding: 45px;
  word-wrap: break-word;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  display: block;
  z-index: -1;
}

.faq-content {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.faq-content h1, .faq-content h2, .faq-content h3, .faq-content h4, .faq-content h5, .faq-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.faq-content p, .faq-content blockquote, .faq-content ul, .faq-content ol, .faq-content dl, .faq-content table, .faq-content pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.faq-content p, .faq-content blockquote, .faq-content ul, .faq-content ol, .faq-content dl, .faq-content table, .faq-content pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.faq-content ul, .faq-content ol {
  padding-left: 2em;
}
.faq-content li {
  word-wrap: break-all;
}
.faq-content h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}
.faq-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}
a {
  background-color: transparent;
  color: #0366d6;
  text-decoration: none;
}
table tr td {
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}

.cls {
  position:relative;
  clear:both;
  width: 100%;
  height: 200px;
}
@media (max-width: 767px) {
  .faq-menu.fix {
    top: -165px;
  }
  .faq-menu ul li a {
    padding: 13rem 1rem 0;
    font-size: 14px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .faq-menu ul li a {
    padding: 13rem 2rem 0;
  }
}