.section1{
  position: relative;
  margin-top: 170px;  
}
@media screen and (min-width: 968px) {
  .section1::before{
    left: 0;
    background-position: left bottom;
    content: "";
    position: absolute;
    background: url('/images/customer/section1_before.png') no-repeat;
    bottom:-50px;
    height: 289px;
    width: 453px;
    left: 20px;
    z-index: -1;
  }
}
.section1::after{
  right: 0;
  background-position: right bottom;
  content: "";
  position: absolute;
  background: url('/images/customer/section1_after.png') no-repeat;
  bottom:-50px;
  height: 321px;
  width: 486px;
  right:20px;
  z-index: -1;
}
.section1 .inner{
  max-width: 1000px;
  margin: 50px auto;
  z-index: 1;
  text-align: center;
}
.section1 .inner h1{
  font: 400 55px/1.3 "Merriweather", Georgia, serif;
  padding-bottom: 10px;
  color: #4A4A4A;
}
.section1 .inner p{
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
  padding: 0 20px 20px 20px;
}
.section1 .inner .btn-consult{
  display: block;
  margin: 70px auto;
  margin-bottom: 0px;
  width:300px;
  padding: 0 45px;
  font-size: 18px;
  background-color: #333399;
  color: #fff;
  border: 0;
  font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  border-radius: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.section1 .inner .btn-consult:hover{
  background-color: #181855;
}

.section1 .inner .btn-video{
  width: 150px;
  margin-top: 30px!important;
  font-size: 20px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  color: #333399
}

.section1 .inner .btn-video i{
  content: "";
  background: transparent url('/images/customer/video1.x.png') no-repeat;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  top: 7px;
  transform: scale(1.5)
}
.section1 .in-the-press{
  background: #F7F7F7 url('/images/customer/home_in_the_press.jpg') center center no-repeat;
  transform: scale(1, 1);
  background-size: contain;
  position: absolute;
  z-index: 1;
  height: 93px;
  width: 100%;
  left: 0;  
}
.section2{
  background: url('/images/customer/section2.png') center bottom no-repeat;  
  align-items: flex-start;
  height: 680px;
  padding-top: 85px;
}
.section2 .inner{
  max-width: 1000px;
  margin: 100px auto;
  z-index: 1;
  text-align: center;
}
.section2 .inner h2{
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}
.section2 .inner p{
  padding: 0 30px;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
}
.section3{
  background: url('/images/customer/section3.png') center bottom no-repeat;  
  align-items: flex-start;
  height: 570px;
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.section3 .inner{
  max-width: 1000px;
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section3 .inner h2{
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}
.section3 .inner p{
  padding: 0 30px;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
}
.section3 .inner .btn-video{
  width: 350px;
  margin-top: 30px!important;
  font-size: 20px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  color: #333399
}

.section3 .inner .btn-video i{
  content: "";
  background: transparent url('/images/customer/video1.x.png') no-repeat;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  top: 7px;
  transform: scale(1.5)
}

.section4{
  align-items: flex-start;  
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.section4 .inner{
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section4 .inner h2{
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}

.section4 .inner .list-insurance{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.section4 .inner ul{
  list-style: none;
  list-style-image: none;
}

.section4 .inner ul li{
  background: #F7F7F7;
  max-width: 340px;
  border: 1px #DADADA solid;
  padding: 25px 45px;
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
}

.section4 .inner small{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #B7B7B7;
  display:block;
}

.section4 .inner em{
  font: 500 58px/73px "Merriweather", Georgia, serif;
  color: #4A4A4A;
  display: block;
  padding: 10px 0 30px 0;
}
.section4 .inner a{
  line-height: 52px;
  display: block;
  background-color: #333399;
  color: #fff;
  font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
}

.section5{
  align-items: flex-start;  
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.section5 .inner{
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section5 .inner h2{
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}

.section5 .inner p{
  max-width: 990px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
  padding: 0 20px 20px 20px;
}

.section5 .inner .list-slices{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.section5 .inner ul{
  list-style: none;
  list-style-image: none;
}

.section5 .inner ul li{
  position: relative;
  font-size: 20px;
  min-width: 260px;
  padding: 40px 20px 0 20px;
}


.section6{
  background: #F7F7F7;
  height: auto;
  min-height: initial;
  padding: 90px 0;
  border-top: 1px #DADADA solid;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
.section6 .inner{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.section6 .inner ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  list-style-image: none;
}

.section6 .inner ul li{
  width: 50%;
  padding: 0 30px 0 165px;
  text-align: left;
  position: relative;
}

.section6 .inner ul li h4{
  font-size: 20px;
  padding-bottom: 5px;
}

.section6 .inner ul li p{
  font-size: 16px;
  line-height: 22px;
  padding: 0;
}

.section6 .social-impact::before{
  width: 103px;
  height: 88px;
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  background: transparent url("https://www.lemonade.com/assets/home/index/bg-rated-fb92e75128f53040fed843cef6e91ff97c662e8515b3d878d5e3d0d1e90f1bb3.png") 0 0 no-repeat;
  background-size: 211px 88px;
}

.section6 .a-rated::before{
  width: 103px;
  height: 88px;
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  background: transparent url("https://www.lemonade.com/assets/home/index/bg-rated-fb92e75128f53040fed843cef6e91ff97c662e8515b3d878d5e3d0d1e90f1bb3.png") 0 0 no-repeat;
  background-size: 211px 88px;
}

