.section1 {
  position: relative;
  margin-top: 170px;
}

.section1 {
    background-image: url(/images/customer/home/bg_combined.png);
    background-repeat: no-repeat;
    background-position: center bottom 193px;
    margin-bottom: -100px;
    height: 78vh;
    min-height: 680px;
    max-height: 800px;
    overflow: hidden;
    z-index: 0;
}

.section1 .clouds {
    position: absolute;
    top: 0;
    left: 0;
    height: 161px;
    width: 100%;
}
.section1 .clouds .clouds-bg {
    position: absolute;
    right: -1600px;
    left: 0;
    bottom: 0;
    top: 0;
    background: url(/images/customer/home/bg_clouds.png) 0% 0% repeat;
    z-index: -1;
    background-size: contain;
    -moz-animation: MOVE-BG 60s infinite linear;
    -webkit-animation: MOVE-BG 60s infinite linear;
    animation: MOVE-BG 60s infinite linear;
}

.section1 .inner {
  max-width: 1000px;
  margin: 50px auto 175px;
  z-index: 1;
  text-align: center;
}
.section1 .inner h1 {
  font: 400 55px/1.3 "Merriweather", Georgia, serif;
  padding-bottom: 10px;
  color: #4A4A4A;
}
.section1 .inner p {
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
  padding: 0 20px 10px 20px;
}
.section1 .inner img {
  width: 35px;
}
.section1 .inner .btn-consult {
  display: block;
  margin: 25px auto 0;
  width:300px;
  padding: 0 45px;
  font-size: 18px;
  background-color: #333399;
  color: #fff;
  border: 0;
  font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  border-radius: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.section1 .inner .btn-consult:hover {
  background-color: #181855;
}

.section1 .inner .btn-video {
  width: 150px;
  margin-top: 30px!important;
  font-size: 20px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  color: #333399
}

.section1 .inner .btn-video i {
  content: "";
  background: transparent url('/images/customer/home/video1.x.png') no-repeat;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  top: 7px;
  transform: scale(1.5)
}
.section1 .in-the-press {
  background: #F7F7F7 url('/images/customer/home/home_in_the_press.png') center center no-repeat;
  transform: scale(1, 1);
  background-size: contain;
  position: absolute;
  z-index: 1;
  height: 75px;
  width: 100%;
  left: 0;
}
.section2 {
  background: url('/images/customer/home/section2_back.png') center bottom no-repeat;
  align-items: flex-start;
  height: 680px;
  padding-top: 85px;
  position: relative;
}
.section2 .inner {
  max-width: 1000px;
  margin: 100px auto;
  z-index: 1;
  text-align: center;
}
.section2 .inner h2 {
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}
.section2 .inner p {
  padding: 0 30px;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
}
.section3 .inner {
  text-align: center;
}
.section3 .inner p {
  font-size: 20px;
}
.section3 .inner ul {
  list-style: none;
  list-style-image: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.section3 .inner ul.list-insurance-type li {
  background: #F7F7F7;
  max-width: 340px;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 5px;
}
.section3 .inner ul.list-insurance-type li img {
  width: 130px;
  margin-bottom: 10px;
}
.section3 .inner ul.list-insurance-type li p {
  margin-bottom: 0;
}
.section3 .inner ul.list-insurance-method li a {
  line-height: 52px;
  padding: 10px;
  background-color: #3f64cd;
  color: #fff;
  font: 700 1.6rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
}

.section3 .inner ul.list-insurance-method li .method-content {
  max-width: 340px;
  border: 1px #DADADA solid;
  padding: 5px;
  margin: 20px 10px 0;
  border-radius: 5px;
}
.section3 .inner ul.list-insurance-method li .method-content h2 {
  color: #fff;
  font-weight: 700;
  padding: 20px;
}
.section3 .inner ul.list-insurance-method li .method-content .sub-content {
  background: #fff;
  padding: 10px;
}
.section3 .inner ul.list-insurance-method li .method-content .sub-content img {
  width: 200px;
}
.sos {
  background: #a1a1a2;
}
.basic {
  background: #e16026;
}
.platinum {
  background: #314293;
}
.golden {
  background: linear-gradient(to right, #b46903 , #e4b637, #fada50);
}

.section4 {
  background: url('/images/customer/home/section4.png') center bottom no-repeat;
  align-items: flex-start;
  height: 570px;
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.section4 .inner {
  max-width: 1000px;
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section4 .inner h2 {
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}
.section4 .inner p {
  padding: 0 30px;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
}
.section4 .inner .btn-video {
  width: 350px;
  margin-top: 30px!important;
  font-size: 20px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  color: #333399
}

.section4 .inner .btn-video i {
  content: "";
  background: transparent url('/images/customer/home/video1.x.png') no-repeat;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  top: 7px;
  transform: scale(1.5)
}

.section5 {
  align-items: flex-start;
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.section5 .inner {
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section5 .inner h2 {
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}

.section5 .inner .list-insurance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.section5 .inner ul {
  list-style: none;
  list-style-image: none;
}

.section5 .inner ul li {
  background: #F7F7F7;
  max-width: 340px;
  border: 1px #DADADA solid;
  padding: 25px 45px;
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
}

.section5 .inner small {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #B7B7B7;
  display:block;
}

.section5 .inner em {
  font: 500 58px/73px "Merriweather", Georgia, serif;
  color: #4A4A4A;
  display: block;
  padding: 10px 0 30px 0;
}
.section5 .inner a {
  line-height: 52px;
  display: block;
  background-color: #333399;
  color: #fff;
  font: 700 1.4rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
}

.section6 {
  align-items: flex-start;
  padding-top: 50px;
}
.section6 .inner {
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section6 .inner h2 {
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}
.section6 .inner p {
  max-width: 990px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
  padding: 0 20px 20px 20px;
}
.section6 .inner .bg-switching {
  background: url(/images/customer/home/section6_back.png) 0 0 no-repeat;
  background-size: contain;
  margin: 20px auto 40px auto;
  max-width: 582px;
  height: 308px;
}
.section6 .inner a {
  line-height: 52px;
  padding: 10px;
  background-color: #3f64cd;
  color: #fff;
  font: 500 1.6rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
}
.section7 {
/*  align-items: flex-start;
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;*/
  background: url(/images/customer/home/section7_back.png) center bottom no-repeat;
  align-items: flex-start;
  height: 600px;
  padding-top: 85px;
}
.section7 .inner {
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section7 .inner h2 {
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}
.section7 .inner p {
  max-width: 990px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
  padding: 0 20px 20px 20px;
}
.section7 .inner a {
  line-height: 52px;
  padding: 15px 50px;
  background-color: #3f64cd;
  color: #fff;
  font: 500 1.6rem/6rem "Lato", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
}

.section8 {
  align-items: flex-start;
  padding-top: 50px;
  border-bottom: 1px rgb(201, 201, 201) solid;
}
.section8 .inner {
  margin: 0px auto;
  z-index: 1;
  text-align: center;
}
.section8 .inner h2 {
  font: 700 46px/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
  color: #4A4A4A;
  text-transform: capitalize;
}

.section8 .inner p {
  max-width: 990px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
  padding: 0 20px 20px 20px;
}

.section8 .inner .list-slices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.section8 .inner ul {
  list-style: none;
  list-style-image: none;
}

.section8 .inner ul li {
  position: relative;
  font-size: 20px;
  min-width: 260px;
  padding: 40px 20px 0 20px;
}


/*.section6 {
  background: #F7F7F7;
  height: auto;
  min-height: initial;
  padding: 90px 0;
  border-top: 1px #DADADA solid;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
.section6 .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.section6 .inner ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  list-style-image: none;
}

.section6 .inner ul li {
  width: 50%;
  padding: 0 30px 0 165px;
  text-align: left;
  position: relative;
}

.section6 .inner ul li h4 {
  font-size: 20px;
  padding-bottom: 5px;
}

.section6 .inner ul li p {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
}

.section6 .social-impact::before {
  width: 103px;
  height: 88px;
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  background: transparent url("https://www.lemonade.com/assets/home/index/bg-rated-fb92e75128f53040fed843cef6e91ff97c662e8515b3d878d5e3d0d1e90f1bb3.png") 0 0 no-repeat;
  background-size: 211px 88px;
}

.section6 .a-rated::before {
  width: 103px;
  height: 88px;
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  background: transparent url("https://www.lemonade.com/assets/home/index/bg-rated-fb92e75128f53040fed843cef6e91ff97c662e8515b3d878d5e3d0d1e90f1bb3.png") 0 0 no-repeat;
  background-size: 211px 88px;
}
*/
.section9 {
  /*background: #F7F7F7;*/
  height: auto;
  min-height: initial;
  padding: 90px 0;
  /*border-top: 1px #DADADA solid;*/
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
.section9 .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section9 > .inner .stats {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.section9 > .inner .stats .stat {
  /*width: 294px;*/
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;
}
.section9 > .inner .stats .stat span {
  font: 300 100px/120px "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #3f64cc;
}
.section9 > .inner .stats .stat p {
  font: 400 16px/16px "Lato", "Helvetica Neue", Arial, sans-serif;
  margin-top: 9px;
  -ms-text-align-last: auto;
  text-align: left;
}
.section9 .inner .stats .stat .round-circle {
  font-size: 16px;
  border-radius: 100px;
  background: #c8c8c8;
  padding: 60px 22px 64px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
}

.section9 .inner ul li p{
  font-size: 16px;
  line-height: 22px;
  padding: 0;
}

/*@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .section1:before, .section1:after {
    content: "";
    position: absolute;
    background-image: url(/images/customer/home/bg_combined.png);
    bottom: 193px;
    height: 430px;
    width: 650px;
  }
  .section1:before {
    left: -140px;
    background-position: left bottom;
  }
  .section1::after {
    right: -120px;
    background-position: right bottom;
  }
  .section1 {
    justify-content: flex-start;
    align-items: flex-start;
    background-image: none;
    height: 100vh;
  }
}*/
@media (min-width: 1300px) {
  .section1:before, .section1:after {
    content: "";
    position: absolute;
    background-image: url(/images/customer/home/bg_combined.png);
    bottom: 193px;
    height: 430px;
    width: 650px;
  }
  .section1:before {
    left: 0;
    background-position: left bottom;
  }
  .section1:after {
    right: 0;
    background-position: right bottom;
  }
  .section1 {
    background-image: none;
    background-position: center bottom 193px;
  }
  .section2 {
    background-image: none;
    background-position: center bottom 0px;
  }
  .section2:before, .section2:after {
    content: "";
    position: absolute;
    background-image: url(/images/customer/home/section2_back.png);
    bottom: 0px;
    height: 280px;
  }
  .section2:before {
    left: 0;
    background-position: left bottom;
    width: 700px;
  }
  .section2:after {
    right: 0;
    background-position: right bottom;
    width: 590px;
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-1600px)
  }
}

