.navbar {
	background-color: #13132a;
}

.navbar ul li a {
	color: #898995;
}

.navbar ul li.active a {
	color: #fff;
}

.navbar-header .icon-bar {
	background-color: #fff;
}

section {
	width: 100%;
	background: gray;
	position: relative;
	min-height: 900px;
}
.blank {
	width: 100%;
	height: 110px;
	background: none;
	border: none;
}
.inner {
	position: relative;
	height: 100%;
}
.bottom {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
}
.main-button {
	color: white;
	font-size: 14px;
	background: linear-gradient(to bottom, #376fd7 , #133890, #01135c);
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 6px;
	text-transform: uppercase;
}
img.button {
	width: 170px;
	height: 170px;
}
img.button.large {
	width: 220px;
	height: 220px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	color: #11f1fe;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 15px;
}

.section1 {
	height: 100vh;
}
.section1 .inner {
	background: url(/images/customer/services/back_main.png) center top no-repeat;
	background-size: cover;
}

@media(max-width: 767px) {
	.blank {
		height: 70px;
	}
}