body {
background: #fff;
color: #4A4A4A;
font: 400 1.6rem/1.3 "Lato", "Helvetica Neue", Arial, sans-serif;

}

#terms-content {
    margin-top: 170px;
}

#terms-content {
    padding: 45px;
    word-wrap: break-word;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    display: block;
    z-index: -1;
}

#terms-content {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}
#terms-content h1, #terms-content h2, #terms-content h3, #terms-content h4, #terms-content h5, #terms-content h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
#terms-content p, #terms-content blockquote, #terms-content ul, #terms-content ol, #terms-content dl, #terms-content table, #terms-content pre {
    margin-top: 0;
    margin-bottom: 16px;
}
#terms-content p, #terms-content blockquote, #terms-content ul, #terms-content ol, #terms-content dl, #terms-content table, #terms-content pre {
    margin-top: 0;
    margin-bottom: 16px;
}
#terms-content ul, #terms-content ol {
    padding-left: 2em;
}
#terms-content li {
    word-wrap: break-all;
}
#terms-content h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}
#terms-content h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}
#terms-content h3 {
    padding-bottom: 0.3em;
    font-size: 1.2em;
    border-bottom: 1px solid #eaecef;
}
#terms-content h4 {
    padding-bottom: 0.3em;
    font-size: 1em;
    border-bottom: 1px solid #eaecef;
}
#terms-content p {
    font-size: 16px;
}

@media (max-width: 767px) {
    #terms-content {
        margin-top: 100px;
    }
}