p {
    width: 100%;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 36px;
    line-height: 50px;
    font-family: Merriweather, Georgia, serif;
    color: #4A4A4A;
}

#parent {
    text-align: center;
}