@media screen and (max-width: 992px) {
    .form-row{
        padding-left:0px;
        padding-right:0px;    
    }
}
@media screen and (min-width: 992px) {
    .form-row{
        padding-left:0px;
        padding-right:0px;    
    }
}

.option-wrapper{    
    padding:15px;
    border: 1px #DADADA solid
}
.option-wrapper.on{
    background: #F7F7F7;
}
.option-wrapper img{
    max-width: 80px;
    max-height: 32px;
    margin-top: 5px;
}
.option-wrapper .icon-option-wrapper{
    margin-top: 20px;
}
.option-wrapper .icon-option-wrapper i{
    margin-top: 15px;    
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px #fff solid;
    box-shadow: 0 0 0 1px #DADADA;
    border-radius: 50%;
    -webkit-transition: border-width .1s,box-shadow .1s;
    -moz-transition: border-width .1s,box-shadow .1s;
    -o-transition: border-width .1s,box-shadow .1s;
    transition: border-width 0.1s,box-shadow 0.1s;
}
.option-wrapper.on i{
    background: rgb(51, 54, 211);;
}