extends ../../layout
block pageStyle
  link(rel='stylesheet', href='/stylesheets/customer/services/special.css')
block pageContent
  a.back-btn(href='/services/special') BACK
  section.section3
    .blank
    .inner
      .header
        .header-back
          h3
            | LAVADO DE AUTO
            br
            | A DOMICILIO
          .comment
            p Optimizar al máximo tu tiempo es nuestra meta, desde tu ubicación, solicita el lavado de auto a domicilio, da un touch a tu App; en tiempo real, verás en el mapa a nuestros expertos acudiendo hacia ti. Vango! incluye lavado con ceras y  productos finos, que te dejarán satisfecho.
      .mobile-comment
        p Optimizar al máximo tu tiempo es nuestra meta, desde tu ubicación, solicita el lavado de auto a domicilio, da un touch a tu App; en tiempo real, verás en el mapa a nuestros expertos acudiendo hacia ti. Vango! incluye lavado con ceras y  productos finos, que te dejarán satisfecho.
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!

block pageScript
  script.
    $('.navbar').addClass('top');
    $('.navbar .btn-consult').hide();
    $('.navbar .btn-social').show();
    $( window ).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll < 10){
        $('.navbar .btn-consult').hide();
        $('.navbar .btn-social').show();
      }else{
        $('.navbar .btn-consult').show();
        $('.navbar .btn-social').hide();

      }
    });

    $('.nav-services').addClass('active');
    $('.logo-large').attr('src', '/images/customer/services/logo_lg.png');
    $('.logo-medium').attr('src', '/images/customer/services/logo_md.png');
    $('.logo-small').attr('src', '/images/customer/services/logo_sm.png');

    $('#blogmenu').attr('href', 'https://carwash.segurosvango.com');
