
.widget-ratings__star{
  margin: 0px;
}
.dataTables_buttons{
  display: none;
}
.table tr{
  min-height: 78px;
}
.table td, .table th {
  text-align: center; 
  vertical-align: middle;
  padding:1px;
}
.icon-child{
  margin-left: -30px;
  transform: scale(0.5, 0.5);
  display: inline-block;
}
.contacts__img img{
  width: 120px;
  height: 120px;
}
