extends ../layout
block stylesheet
  link(rel='stylesheet', href='/stylesheets/super-admin/custom.css')
  link(rel='stylesheet', href='/stylesheets/super-admin/admin.css')
block content
  .content__inner
    header.content__title
      h1 Employees
      .actions
        a.actions__item.zmdi.zmdi-trending-up(href='')
        a.actions__item.zmdi.zmdi-check-all(href='')
        .dropdown.actions__item
          i.zmdi.zmdi-more-vert(data-toggle='dropdown')
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href='') Refresh
            a.dropdown-item(href='') Manage Widgets
            a.dropdown-item(href='') Settings
    .toolbar
      nav.toolbar__nav
        a(href='') All Employees
        a.active(href='') Admin
        a(href='') Sales Agent
      .actions
        i.actions__item.zmdi.zmdi-search(data-sa-action='toolbar-search-open')
        a.actions__item.zmdi.zmdi-info-outline.hidden-xs-down(href='')
        .dropdown.actions__item.hidden-xs-down
          i.zmdi.zmdi-more-vert(data-toggle='dropdown')
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href='') Refresh
            a.dropdown-item(href='') Delete
            a.dropdown-item(href='') Settings
      .toolbar__search
        input(type='text', placeholder='Search...')
        i.toolbar__search__close.zmdi.zmdi-long-arrow-left(data-sa-action='toolbar-search-close')
    .contacts.row
      .col-xl-2.col-lg-3.col-sm-4.col-6
        .contacts__item
          a.contacts__img(href='')
            img(src='/admin-template/demo/img/contacts/1.jpg', alt='')
          .contacts__info
            strong Cathy Shelton
            small cathy.shelton31@example.com
          button.contacts__btn Following
      .col-xl-2.col-lg-3.col-sm-4.col-6
        .contacts__item
          a.contacts__img(href='')
            img(src='/admin-template/demo/img/contacts/3.jpg', alt='')
          .contacts__info
            strong Marilyn Thomas
            small marilyn@example.com
          button.contacts__btn Following
      .col-xl-2.col-lg-3.col-sm-4.col-6
        .contacts__item
          a.contacts__img(href='')
            img(src='/admin-template/demo/img/contacts/4.jpg', alt='')
          .contacts__info
            strong Dwight Gilbert
            small dwight@example.com
          button.contacts__btn Following
      .col-xl-2.col-lg-3.col-sm-4.col-6
        .contacts__item
          a.contacts__img(href='')
            img(src='/admin-template/demo/img/contacts/5.jpg', alt='')
          .contacts__info
            strong Cody Moreno
            small moreno@example.com
          button.contacts__btn Following
      .col-xl-2.col-lg-3.col-sm-4.col-6
        .contacts__item
          a.contacts__img(href='')
            img(src='/admin-template/demo/img/contacts/6.jpg', alt='')
          .contacts__info
            strong Jamie Freeman
            small freeman@example.com
          button.contacts__btn Following
      .col-xl-2.col-lg-3.col-sm-4.col-6
        .contacts__item
          a.contacts__img(href='')
            img(src='/admin-template/demo/img/contacts/7.jpg', alt='')
          .contacts__info
            strong Charles Spencer
            small charles@example.com
          button.contacts__btn Following
    a.btn.btn-light.btn--action.btn--fixed(href='')
      i.zmdi.zmdi-plus

block script
  script.
    $(document).ready(function(){
      $('.navigation_admin_nav').addClass('navigation__active');
      $('.navigation_employee_admin').addClass('navigation__active');
      $('.navigation_admin_nav>a').click();
    })
    
