extends ../layout
block script
  script.
      
    $(document).ready(function(){      
      $('.navigation_supplier_nav').addClass('navigation__active');
      $('.navigation_supplier_dashbaord').addClass('navigation__active');
      $('.navigation_supplier_nav > a').click();
    })