.navbar {
	background-color: #13132a;
}

.navbar ul li a {
	color: #898995;
}

.navbar ul li.active a {
	color: #fff;
}

.navbar-header .icon-bar {
	background-color: #fff;
}

section {
	width: 100%;
	background: gray;
	position: relative;
	height: 100vh;
	min-height: 900px;
}
.blank {
	width: 100%;
	height: 110px;
	background: none;
	border: none;
}
.inner {
	position: relative;
    padding-top: 20px;
}
.bottom {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
}
.main-button {
	color: white;
	font-size: 14px;
	background: linear-gradient(to bottom, #376fd7 , #133890, #01135c);
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 6px;
	text-transform: uppercase;
}
.main-button:hover {
    text-decoration: none;
    color: #ff0;
}
img.button {
	width: 170px;
	height: 170px;
}
img.button.large {
	width: 220px;
	height: 220px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	color: #11f1fe;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 15px;
}

#legalAssist {
	background: url(/images/customer/services/legal/back_legalAssist.png) center top no-repeat;
	background-size: cover;
}
#legalAssist .button-group {
	display: flex;
	width: 50%;
	padding: 20px 0 70px 100px;
}
#legalAssist .button-group .list {
	flex: 1;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
#legalAssist .button-group .list a {
	margin-bottom: 70px;
}
#legalAssist .button-group .list a:last-child {
	margin-bottom: 0;
}

.header {
    background-size: auto 100%;
    height: 206px;
    overflow: hidden;
}
.header:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 206px;
    background-size: auto 100%;
    background-position-x: 70px;
    background-repeat: no-repeat;
}
.header .header-back {
    background: rgba(19, 19, 42, 0.6);
    height: 100px;
    margin-top: 53px;
    display: flex;
}
.header .header-back h3 {
    padding: 20px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #11f1fe;
    margin: 0 0 0 300px;
    flex: 1;
}
.header .header-back .comment {
    margin: -15px 50px;
    padding: 20px;
    border: 1px solid #c4c7cb;
	transform: skewX(-15deg);
	flex: 2;
}
.header .header-back .comment p {
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 1;
    transform: skewX(15deg);
}

.section1 {
    background: url(/images/customer/services/legal/back1.jpg) no-repeat;
    background-size: cover;
}
.section1 .header:before {
    background-image: url(/images/customer/services/legal/banner1.png);
}

.section2 {
    background: url(/images/customer/services/legal/back2.jpg) no-repeat;
    background-size: cover;
}
.section2 .header:before {
    background-image: url(/images/customer/services/legal/banner2.png);
}

.section3 {
    background: url(/images/customer/services/legal/back3.jpg) no-repeat;
    background-size: cover;
}
.section3 .header:before {
    background-image: url(/images/customer/services/legal/banner3.png);
}

.back-btn {
	position: fixed;
    color: #34f8cf;
    top: 110px;
    padding: 10px;
    z-index: 999;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.mobile-comment {
    display: none;
}

@media(min-width: 1023px) {
	#legalAssist .button-group {
		max-width: 650px;
	}
}

@media(max-width: 767px) {
	.blank {
		height: 70px;
	}
	.back-btn {
		top: 70px;
	}
    .comment {
        display: none;
    }
    .mobile-comment {
        padding: 20px;
        display: block;
    }
}

@media(max-width: 450px) {
    .header:before {
        background-position-x: 0;
    }
    .header .header-back h3 {
        margin-left: 185px;
    }
}