.navbar {
	background-color: #13132a;
}

.navbar ul li a {
	color: #898995;
}

.navbar ul li.active a {
	color: #fff;
}

.navbar-header .icon-bar {
	background-color: #fff;
}

section {
	width: 100%;
	background: gray;
	position: relative;
	height: 100vh;
}
.blank {
	width: 100%;
	height: 110px;
	background: none;
	border: none;
}
.inner {
	position: relative;
    height: 100%;
    padding-top: 20px;
}
.bottom {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
}
.main-button {
	color: white;
	font-size: 14px;
	background: linear-gradient(to bottom, #376fd7 , #133890, #01135c);
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 6px;
	text-transform: uppercase;
}
.main-button:hover {
    text-decoration: none;
    color: #ff0;
}
img.button {
	width: 170px;
	height: 170px;
}
img.button.large {
	width: 220px;
	height: 220px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	color: #11f1fe;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 15px;
}

#legalAssist {
	background: url(/images/customer/services/legal/back_legalAssist.png) center top no-repeat;
	background-size: cover;
}
#legalAssist .button-group {
	display: flex;
	width: 50%;
	padding: 20px 0 70px 100px;
}
#legalAssist .button-group .list {
	flex: 1;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
#legalAssist .button-group .list a {
	margin-bottom: 70px;
}
#legalAssist .button-group .list a:last-child {
	margin-bottom: 0;
}

.header h3 {
    padding: 60px 3px 40px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    left: 30%;
    position: absolute;
    color: #11f1fe;
}

.header p {
    top: 50px;
    right: 7%;
    font-size: 16px;
    width: 40%;
    float: right;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}

.section1 {
    background: url(/images/customer/services/legal/back1.jpg) no-repeat;
    background-size: cover;
}
.section1 .header {
    background: url(/images/customer/services/legal/banner1.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.section2 {
    background: url(/images/customer/services/legal/back2.jpg) no-repeat;
    background-size: cover;
}
.section2 .header {
    background: url(/images/customer/services/legal/banner2.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.section3 {
    background: url(/images/customer/services/legal/back3.jpg) no-repeat;
    background-size: cover;
}
.section3 .header {
    background: url(/images/customer/services/legal/banner3.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

@media(min-width: 1023px) {
	#legalAssist .button-group {
		max-width: 650px;
	}
}

@media(max-width: 767px) {
	.blank {
		height: 70px;
	}
}