.navbar {
	background-color: #13132a;
}

.navbar ul li a {
	color: #898995;
}

.navbar ul li.active a {
	color: #fff;
}

.navbar-header .icon-bar {
	background-color: #fff;
}

section {
	width: 100%;
	background: gray;
	position: relative;
	height: 100vh;
	min-height: 900px;
}
.blank {
	width: 100%;
	height: 110px;
	background: none;
	border: none;
}
.inner {
	position: relative;
    padding-top: 20px;
}
.bottom {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
}
.main-button {
	color: white;
	font-size: 14px;
	background: linear-gradient(to bottom, #376fd7 , #133890, #01135c);
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 6px;
	text-transform: uppercase;
}
.main-button:hover {
    text-decoration: none;
    color: #ff0;
}
img.button {
	width: 170px;
	height: 170px;
}
img.button.large {
	width: 220px;
	height: 220px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	color: #11f1fe;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 15px;
}

#medicalAssist {
	background: url(/images/customer/services/medical/back_medicalAssist.png) center top no-repeat;
	background-size: cover;
}
#medicalAssist .button-group {
	display: flex;
	width: 360px;
	padding: 50px 0 100px 100px;
}
#medicalAssist .button-group .list {
	flex: 1;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#medicalAssist .button-group .list a {
	display: flex;
	align-items: center;
	flex: 1;
	margin-bottom: -20px;
}
#medicalAssist .button-group .list a:last-child {
	margin: 0;
}
#medicalAssist .button-group .list a span {
	font-size: 16px;
	color: #07939b;
	text-align: center;
	font-weight: bold;
	flex: 1;
}
#medicalAssist img.button {
	width: 120px;
	height: 120px;
}

.header h3 {
    padding: 60px 3px 40px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    left: 30%;
    position: absolute;
    color: #11f1fe;
}

.header p {
    top: 50px;
    right: 7%;
    font-size: 16px;
    width: 40%;
    float: right;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}

.section1 {
    background: url(/images/customer/services/medical/back1.jpg) no-repeat;
    background-size: cover;
}
.section1 .header {
    background: url(/images/customer/services/medical/banner1.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.section2 {
    background: url(/images/customer/services/medical/back2.jpg) no-repeat;
    background-size: cover;
}
.section2 .header {
    background: url(/images/customer/services/medical/banner2.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.section3 {
    background: url(/images/customer/services/medical/back3.jpg) no-repeat;
    background-size: cover;
}
.section3 .header {
    background: url(/images/customer/services/medical/banner3.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.section4 {
    background: url(/images/customer/services/medical/back4.jpg) no-repeat;
    background-size: cover;
}
.section4 .header {
    background: url(/images/customer/services/medical/banner4.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.section5 {
    background: url(/images/customer/services/medical/back5.jpg) no-repeat;
    background-size: cover;
}
.section5 .header {
    background: url(/images/customer/services/medical/banner5.png) no-repeat;
    padding: 25px 0 10%;
    background-size: 100%;
    overflow: hidden;
}

.back-btn {
	position: fixed;
    color: #34f8cf;
    top: 110px;
    padding: 10px;
    z-index: 999;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

@media(max-width: 767px) {
	.blank {
		height: 70px;
	}
	.back-btn {
		top: 70px;
	}
}