extends layout
block pageStyle
  link(rel='stylesheet', href='/stylesheets/customer/home.css')
  link(rel='stylesheet', href='/youtube/dist/jquery.yu2fvl.css')
block pageContent
  .section1
    .clouds
      .clouds-bg
    .inner
      h1
        | OLVIDA TODO LO QUE SABES SOBRE SEGUROS
      p Todo instantáneo. Precios asesinos. Gran corazón.
      img(src="/images/customer/home/heart.png")
      a.btn-consult(href='/chat/1') Consulte nuestros precios
      a.btn-video(href='https://www.youtube.com/watch?v=vpO8sZDxOGI')
        i
        | Ver el vídeo
    .in-the-press
  .section2
    .inner
      h2 Vango! te soluciona la vida
      p
        | Asegura y protege las llantas de tu vehículo ante cualquier circunstancia.
  .section3
    .inner
      h3 Comience con nuestra calculadora de precios y cobertura rápida
      p Seleccione todas las opciones que se apliquen a usted
      ul.list-insurance-type
        li
          img(src='/images/customer/home/section2_1.png')
          img.tick(src='/images/customer/home/tick.svg')
          p Soltero
        li
          img(src='/images/customer/home/section2_2.png', alt='', style='')
          img.tick(src='/images/customer/home/tick.svg')
          p 25 o más
        li
          img(src='/images/customer/home/section2_3.png', alt='', style='')
          img.tick(src='/images/customer/home/tick.svg')
          p Cambié mis llantas recientemente
        li
          img(src='/images/customer/home/section2_4.png', alt='', style='')
          img.tick(src='/images/customer/home/tick.svg')
          p Cobertura de seguro para dos
        li
          img(src='/images/customer/home/section2_5.png', alt='', style='')
          img.tick(src='/images/customer/home/tick.svg')
          p Manejo a más de 100 Km/h
        li
          img(src='/images/customer/home/section2_6.png', alt='', style='')
          img.tick(src='/images/customer/home/tick.svg')
          p Recorro más de 10 Km diarios
      ul.list-insurance-method
        li
          .method-content.sos
            h2 SOS
            .sub-content
              img(src='/images/customer/home/customer_insurance.png', alt='', style='')
          a(href='') ÓBTEN COBERTURA
        li
          .method-content.basic
            h2 BÁSICO
            .sub-content
              img(src='/images/customer/home/customer_insurance.png', alt='', style='')
          a(href='') ÓBTEN COBERTURA
        li
          .method-content.platinum
            h2 PLATINUM
            .sub-content
              img(src='/images/customer/home/customer_insurance.png', alt='', style='')
          a(href='') ÓBTEN COBERTURA
        li
          .method-content.golden
            h2 GOLDEN
            .sub-content
              img(src='/images/customer/home/customer_insurance.png', alt='', style='')
          a(href='') ÓBTEN COBERTURA
  .section4
    .inner
      h2 Todo instantáneo
      p
        | Nuestra inteligencia artificial, creará el seguro perfecto para ti.
        br
        |         Fácil y Rápido.
      a.btn-video(href='https://www.youtube.com/watch?v=vpO8sZDxOGI')
        i
        | Mira la aplicación Vango! en acción
  .section5
    .inner
      h2
        | Precios que matan,
        br
        |         Suscripción anual
      ul.list-insurance
        li
          img(src='/images/customer/home/coverage_1.jpg', alt='', style='width:150px;')
          small anual, por
          em $499
          a(href='') COMPRAR AHORA
        li
          img(src='/images/customer/home/coverage_2.jpg', alt='', style='width:150px;')
          small anual, por
          em $995
          a(href='') COMPRAR AHORA
        li
          img(src='/images/customer/home/coverage_3.jpg', alt='', style='width:150px;')
          small anual, por
          em $1495
          a(href='') COMPRAR AHORA
        li
          img(src='/images/customer/home/coverage_4.jpg', alt='', style='width:150px;')
          small anual, por
          em $1999
          a(href='') COMPRAR AHORA
  .section6
    .inner
      h2
        | ¿Ya está asegurado?
        br
        | Cambie a Vango! al instante
      p La gente dejó compañias de seguros para unirse a Vango!
      .bg-switching
      a(href='') Cosultar precios y cambiar
  .section7
    .inner
      h2
        | Cobertura que da ganancias a
        br
        | asociaciones de nuestra
        br
        | comunidad
      p
        | Su comunidad gasta millones en seguros.
        br
        | Parte de ese dinero puede financiar su causa.
      a(href='') APLICA YA
  .section8
    .inner
      h2 ¿Cómo funciona Vango?
      p
        | Vango! Revierte el modelo de seguro tradicional. Tratamos las primas que paga
        br
        |         como si fuera su dinero, no el nuestro. Con VanGo! todo se vuelve simple y transparente.
        br
        |         Tomamos una tarifa fija, pagamos los reclamos súper rápido y le devolvemos lo
        br
        |         que queda a las causas que le interesan.
      ul.list-slices
        li
          img(src='/images/customer/home/slice1.png', alt='')
          p
            | Una tarifa transparente del 10%
            br
            |             para ejecutar todo
        li
          img(src='/images/customer/home/slice2.png', alt='')
          p
            | Pagamos reclamos
            br
            |             súper rápido
        li
          img(src='/images/customer/home/slice3.png', alt='')
          p
            | Si hay dinero de sobra,
            br
            |             lo damos de nuevo a causas
  .section9
    .inner
      .stats
        .stat
          .round-circle Certificaciones
          p
            | Texto que avala las
            br
            | certifaciones
        .stat
          .round-circle Certificaciones
          p
            | Texto que avala las
            br
            | certifaciones
        .stat
          .round-circle Certificaciones
          p
            | Texto que avala las
            br
            | certifaciones
block pageScript
  script(src='/youtube/dist/jquery.yu2fvl.min.js')
  script.
    $('.navbar .btn-consult').hide();
    $('.navbar .btn-social').show();
    $( window ).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll < 10){
        $('.navbar').removeClass('top');
        $('.navbar .btn-consult').hide();
        $('.navbar .btn-social').show();
      }else{
        $('.navbar').addClass('top');
        $('.navbar .btn-consult').show();
        $('.navbar .btn-social').hide();
      }
    });
    $('.btn-video').yu2fvl();
    $('.nav-home').addClass('active');
    $('.section3 .inner ul.list-insurance-type li').on('click', function() {
      $(this).toggleClass('active');
    });


