doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Vango Insurance
    link(rel='shortcut icon', type='image/png' href='/images/favicon.png')
    // Bootstrap core CSS
    link(rel='stylesheet', href='/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/customer/customer.css')

    block pageStyle

  body
    nav.navbar.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-home
              a(href='/home')
                | Inicio
                span.sr-only (current)
            li.nav-faq
              a(href='/faq') Preguntas frecuentes
            li.nav-services
              a(href='/services') Servicios
            li.nav-giveback
              a(href='/giveback') Devolver
            li.nav-blog
              a#blogmenu(href='https://segurosvango.com/insurance-trust/') Blog
          ul.nav.navbar-nav.navbar-right
            li.btn-social
              a(href='#')
                img(src='/images/customer/facebook1.0x.png', alt='')
            li.btn-social
              a(href='#')
                img(src='/images/customer/twitter1.0x.png', alt='')
            li.btn-social
              a(href='#')
                img(src='/images/customer/instagram1.0x.png', alt='')
            li.btn-social
              a(href='#')
                img(src='/images/customer/youtube1.0x.png', alt='')
            li.btn-consult
              a(href='') Consulte nuestros precios
        .logo
          img(class='logo-small' src='/images/customer/logo_sm.png', alt='Vango')
          img(class='logo-medium' src='/images/customer/logo_md.png', alt='Vango')
          img(class='logo-large' src='/images/customer/logo_lg.png', alt='Vango')
    block pageContent
    .footer
      .social
        p
          | Síguenos en nuestras redes sociales y
          br
          |           entérate de todo lo que  Vango! tiene para ti.
        ul.social-links-round
          li
            a(href='#')
              img(src='/images/customer/facebook1.0x.png', alt='')
          li
            a(href='#')
              img(src='/images/customer/twitter1.0x.png', alt='')
          li
            a(href='#')
              img(src='/images/customer/instagram1.0x.png', alt='')
          li
            a(href='#')
              img(src='/images/customer/youtube1.0x.png', alt='')
      ul.footer-menu
        li
          a(href='/terminos') Términos de servicio
        li
          a(href='/politicadeprivacidadvango') Política de privacidad
        li
          a(href='/condiciones') Material legal
        li
          a(href='/employees') Empleos
        li
          a(href='/national') Vango! a nivel nacional
        li
          a(href='/claims') Reclamaciones
      p.legal
        | © Vango Insurance We Trust

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')

    block pageScript
