extends layout
block pageStyle
  link(rel='stylesheet', href='/stylesheets/customer/services.css')
block pageContent
  section.section1
    .inner
      ul.menu-list
        li
          img(src='/images/customer/services/roadside_assist.png')
          span ASISTENCIA VIAL
        li
          img(src='/images/customer/services/travel_assist.png')
          span ASISTENCIA EN VIAJES
        li
          img(src='/images/customer/services/legal_assist.png')
          span ASISTENCIA LEGAL
        li
          img(src='/images/customer/services/medical_assist.png')
          span ASISTENCIA MÉDICA
        li
          img(src='/images/customer/services/specialized.png')
          span ESPECIALIZADOS
      ul.menu-list
        a menu-list
block pageScript
  script.
    $('.navbar').addClass('top');
    $('.navbar .btn-consult').hide();
    $('.navbar .btn-social').show();
    $('.section1').css('margin-top', '100px');
    $( window ).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll < 10){
        $('.navbar .btn-consult').hide();
        $('.navbar .btn-social').show();
      }else{
        $('.navbar .btn-consult').show();
        $('.navbar .btn-social').hide();

      }
    });

    $('.nav-services').addClass('active');
    $('.logo-large').attr('src', '/images/customer/services/logo_lg.png');
    $('.logo-medium').attr('src', '/images/customer/services/logo_md.png');
    $('.logo-small').attr('src', '/images/customer/services/logo_sm.png');
