extends layout
block pageStyle
  link(rel='stylesheet', href='/stylesheets/customer/services.css')
block pageContent
  section.section1
    .blank
    .inner
      a(href='#travelAssist' style='position: absolute; top: 9%; left: 30%;')
        img.button(src='/images/customer/services/btn_main_travelAssist.png')
      a(href='#specialized' style='position: absolute; top: 37%; left: 21%;')
        img.button(src='/images/customer/services/btn_main_roadsideAssist.png')
      a(href='#specialized' style='position: absolute; bottom: 25%; right: 9%;')
        img.button(src='/images/customer/services/btn_main_specialized.png')
      a(href='#specialized' style='position: absolute; top: 31%; right: 8%;')
        img.button(src='/images/customer/services/btn_main_legalAssist.png')
      a(href='#specialized' style='position: absolute; top: 6.7%; right: 18.5%;')
        img.button(src='/images/customer/services/btn_main_medicalAssist.png')
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!
  
  section#travelAssist
    h2 asistencia en viajes
    .inner
      .button-group
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_travel_hotel.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_travel_car.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_travel_transport.png')
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_travel_message.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_travel_personal.png')
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_travel_reference.png')
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!
  
  section#roadsideAssist
    h2 asistencia vial
    .inner
      .button-group
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_crane.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_pass.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_reference.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_lock.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_supply.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_warranty.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_roadside_tire.png')
        .list(style='margin-top: 120px;')
          a(href='#')
            img.button.large(src='/images/customer/services/btn_roadside_driver.png')
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!
  
  section#specialized
    h2 especializados
    .inner
      .button-group
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_special_vehicle.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_special_admin.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_special_message.png')
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_special_car.png')
        .list
          a(href='#')
            img.button.large(src='/images/customer/services/btn_special_pro.png')
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!
  
  section#legalAssist
    h2 asistencia legal
    .inner
      .button-group
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_legal_telephone.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_legal_legal.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_legal_breakdown.png')
        .list
          a(href='#')
            img.button.large(src='/images/customer/services/btn_legal_blank.png')
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!
  
  section#medicalAssist
    h2 asistencia médica
    .inner
      .button-group
        .list
          a(href='#')
            img.button(src='/images/customer/services/btn_medical_ambulance.png')
            span AMBULANCIA
          a(href='#')
            span
              | DESCUENTOS
              br
              | MEDICOS
            img.button(src='/images/customer/services/btn_medical_discount.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_medical_consultancy.png')
            span
              | CONSULTORIA
              br
              | MEDICA
          a(href='#')
            span CONSULTA
            img.button(src='/images/customer/services/btn_medical_query.png')
          a(href='#')
            img.button(src='/images/customer/services/btn_medical_reference.png')
            span
              | REFERENCIAS
              br
              | MEDICAS
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!
block pageScript
  script.
    $('.navbar').addClass('top');
    $('.navbar .btn-consult').hide();
    $('.navbar .btn-social').show();
    //- $('.section1').css('margin-top', '110px');
    //- $('.section1').css('padding-top', '110px');
    $( window ).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll < 10){
        $('.navbar .btn-consult').hide();
        $('.navbar .btn-social').show();
      }else{
        $('.navbar .btn-consult').show();
        $('.navbar .btn-social').hide();

      }
    });

    $('.nav-services').addClass('active');
    $('.logo-large').attr('src', '/images/customer/services/logo_lg.png');
    $('.logo-medium').attr('src', '/images/customer/services/logo_md.png');
    $('.logo-small').attr('src', '/images/customer/services/logo_sm.png');
