extends ../../layout
block pageStyle
  link(rel='stylesheet', href='/stylesheets/customer/services/legal.css')
block pageContent
  a.back-btn(href='/services/legal') BACK
  section.section3
    .blank
    .inner
      .header
        .header-back
          h3
            | LEGAL
            br
            | POR ROBO
          .comment
            p ¿Te robaron el auto? Compartimos tu preocupación, nuestro equipo Vango! de inmediato te asignará un Abogado quien te ayudará en el proceso en todo momento. Confía en Vango! Estás en las mejores manos.
      .mobile-comment
        p ¿Te robaron el auto? Compartimos tu preocupación, nuestro equipo Vango! de inmediato te asignará un Abogado quien te ayudará en el proceso en todo momento. Confía en Vango! Estás en las mejores manos.
    .bottom
      a.main-button(href='#')
        ¡Obtén cobertura ya!

block pageScript
  script.
    $('.navbar').addClass('top');
    $('.navbar .btn-consult').hide();
    $('.navbar .btn-social').show();
    $( window ).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll < 10){
        $('.navbar .btn-consult').hide();
        $('.navbar .btn-social').show();
      }else{
        $('.navbar .btn-consult').show();
        $('.navbar .btn-social').hide();

      }
    });

    $('.nav-services').addClass('active');
    $('.logo-large').attr('src', '/images/customer/services/logo_lg.png');
    $('.logo-medium').attr('src', '/images/customer/services/logo_md.png');
    $('.logo-small').attr('src', '/images/customer/services/logo_sm.png');

    $('#blogmenu').attr('href', 'https://asesoriaporrobo.segurosvango.com');
